@font-face {
  font-family: 'ArticulatCF';
  src:
      url('../public/assets/fonts/ArticulatCF-Normal.otf') 
      format('opentype'),
      url('../public/assets/fonts/ArticulatCF-Medium.otf') 
      format('opentype');
}

@font-face {
  font-family: 'Nokora';
  src:
      url('../public/assets/fonts/Nokora-Regular.ttf') 
      format('opentype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'ArticulatCF', sans-serif;
}

header {
  font-family: 'Nokora', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
